.pfp {
  height: 100px;
  width: auto;
  align-self: center;

}

.side-bar {
  float: left;
  background-color: #123151;
  padding: 30px 10px 30px 10px;
  margin: 8% 2% 8% 3%;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.stats {
  float: right;
  background-color: #123151;
  margin: 8% 3% 8% 0%;
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 72%;
  justify-content: center;
  align-items: center;
}

.matchhistory {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.place {
  width: 35px;
  border: 2px solid;
  border-radius: 6px;
  text-align: center;
  font-size: 20px;
  margin: 2px;
  font-weight: 600;
}

.matchstats {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
